body {
    background-color: #006180;
    font-family: 'Times New Roman', Times, serif;
    margin: 48px;     
}

ul{
    margin: 15px;
    margin-bottom: 20px;
    padding: 0px;
}

nav{
    text-align: center;
}

li{
    list-style: none;
}

nav li{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding-right: 24px;
    padding-left: 24px;
    font-weight:600;
    font-size: 20px;    
    cursor: pointer;
}

header{
    background-color:#CC7722;
}

h1{
    text-align: center;
    color: #FFA245;   
    text-shadow: 2px 2px 0px black;
}

h2{
    text-align: center;
    color: #FFA245; 
    text-shadow: 2px 2px 0px black;
}
