body {
    background-color: #006180;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;     
}

ul{
    margin: 15px;
    margin-bottom: 0px;
    padding: 0px;
}

nav{
    text-align: center;
}

li{
    list-style: none;
    display: inline-block;
    text-decoration: none;

}

nav li a{
    text-decoration: none;
    color: #006180;
    padding-right: 24px;
    padding-left: 24px;
    font-weight:600;
    font-size: 18px;    
    cursor: pointer;
}

nav li a:hover{
    color: white;
    text-decoration: underline;
    font-size: 19px;
}

header{
    width: 960px;
    margin: 18px auto;
    background-color:#CC7722;
}

h1{
    text-align: center;
    color: #FFA245;   
    text-shadow: 2px 2px 0px black;
}

h2{
    text-align: center;
    color: #FFA245; 
    text-shadow: 2px 2px 0px black;
}

main{
    width: 960px;
    margin: 32px auto;
    min-height: 700px;
}

section{
    /* how do I center this section? */
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    margin: 8px auto;
}

#tap1{
    border: 3px solid #CC7722;
    border-radius: 18px;
}

#tap1:hover{
    border: 4px solid white;
    border-radius: 18px;
}

#tap2{
    border: 3px solid #CC7722;
    border-radius: 18px;
}

#tap2:hover{
    border: 4px solid white;
    border-radius: 18px;
}

#tap3{
    border: 3px solid #CC7722;
    border-radius: 18px;
}

#tap3:hover{
    border: 4px solid white;
    border-radius: 18px;
}


footer{
    margin-top: 2px;
    background-color: #23A4CC;
    height: 26px;
    margin-bottom: 0px;
}

footer p{
    padding-top: 50px;
}
