body {
    background-color: #006180;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;     
}

ul{
    margin: 0px;
    padding: 0px;
}

li{
    list-style: none;
}

header{
    height: 100px;
    margin-top: 8px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
    background-color:#CC7722;
}

h1{
    padding-top: 5px;
    text-align: center;
    color: #FFA245;   
    text-shadow: 2px 2px 0px black;
}

h2{
    text-align: center;
    color: #FFA245; 
    text-shadow: 2px 2px 0px black;
}

nav li a{
    float:left;
    text-decoration: none;
    color: white;
    font-weight:600;
    font-size: 20px;    
    cursor: pointer;
}

nav li a:hover{
    color: black;
    text-decoration: underline;
    font-size: 22px;
}
